[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[user]
	email = andrey.zloy@gmail.com
	name = Andrey Martemianov

#[core]
#	pager = delta

#[interactive]
#	diffFilter = delta --color-only

#[delta]
#	features = GitHub
#
#	navigate = true
#	side-by-side = true
#	line-numbers = true
#	minus-style = "#e6ffc8" "#d9291c"
#	plus-style = "#252e04" "#85c040"

#[merge]
#	conflictstyle = diff3

[diff]
	colorMoved = default
[url "git@gitlab.wildberries.ru:"]
	insteadOf = https://gitlab.wildberries.ru/
