[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	wbcommit = "!wb-generate-template; git commit"
[user]
	email = martemyanov.a11@rwb.ru
	name = Andrey Martemianov

[diff]
	colorMoved = default
	wsErrorHighlight = all
[url "git@gitlab.wildberries.ru:"]
	insteadOf = https://gitlab.wildberries.ru/
[push]
	autoSetupRemote = true
[commit]
	template = ~/.git-commit-template
