[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	wbcommit = "!wb-generate-template; git commit"
[user]
    signingKey = ~/.ssh/id_ed25519.pub
	email = martemyanov.a11@rwb.ru
	name = Andrey Martemianov
[diff]
	colorMoved = default
	wsErrorHighlight = all
[url "git@gitlab.wildberries.ru:"]
	insteadOf = https://gitlab.wildberries.ru/
[push]
	autoSetupRemote = true
[commit]
	template = ~/.git-commit-template
	gpgsign = true # цифровая подпись коммита
[core]
	sshCommand = "ssh -i ~/.ssh/id_ed25519 -F /dev/null" # add .pub to gitlab/profile/ssh
[gpg]
  format = ssh
[pager]
	branch = false # показывать git br простым списком в терминале, а не в less
