{{- $machines := list "box" "boomer" "hp" -}}
{{- $machine := promptChoiceOnce . "machine" "What type of host are you on" $machines -}}
[data]
  machine = {{ $machine | quote }}
[git]
  autoCommit = true
  autoPush = true
