window {
  background: transparent;
}

box.main { /* общий внешний бокс */
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid @theme_selected_bg_color;
  box-shadow: 0 0 5px black;
  background-color: #e4e4e4;
}


text { /* строка поиска */
  font-size: 1.2em;
  min-height: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid @theme_selected_bg_color;
}

/* бокс со списком совпадений */
/*
.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
*/

box.plugin:first-child { /* первый элемент совпадения */
  margin-top: 5px;
}

/*
box.plugin.info {
  min-width: 300px;
}
  */

/* весь бокс списка совпадений */
list.plugin {
  background-color: #FFFFFF;
  border-radius: 10px;
}


label.match.description { /* .desktop > Comment */
  font-size: 10px;
}

label.plugin.info { /* ? */
  font-size: 14px;
}

.match { /* .desktop > Name */
  font-size: 16px;
}

.match:selected { /* выбранный элемент списка */
  border-left: 4px solid @theme_selected_bg_color;
  background: #DaDaDa;
  border-radius: 10px;
}
