listener {
    timeout = 600 # in seconds.
    on-timeout = hyprlock
}

{{ if eq .machine "thinkpad" -}}
listener {
    timeout = 60 # seconds
    on-timeout = brightnessctl -sd '*::kbd_backlight' set 0 # save state and turn off keyboard backlight
    on-resume = brightnessctl -rd '*::kbd_backlight' # restore keyboard backlight
}
{{ end -}}
