listener {
    timeout = 300 # in seconds.
    on-timeout = hyprlock
}

{{ if eq .machine "box" -}}
# monitor off
listener {
    timeout = 600
    on-timeout = hyprctl dispatch dpms off # screen off
    on-resume = hyprctl dispatch dpms on # screen on
}

# suspend
listener {
    timeout = 6000 # sec
    on-timeout = systemctl suspend
}
{{ else if eq .machine "boomer" -}}
# keyboard leds off
listener {
    timeout = 10 # seconds
    on-timeout = brightnessctl -sd '*::kbd_backlight' set 0 # save state and turn off keyboard backlight
    on-resume = brightnessctl -rd '*::kbd_backlight' # restore keyboard backlight
}

# приглушить монитор до 30%
listener {
    timeout = 300 # seconds
    on-timeout = target=30; max=$(brightnessctl -d intel_backlight m); target_abs=$((max * target / 100)); current=$(brightnessctl -d intel_backlight get); [ "$current" -gt "$target_abs" ] && for i in $(seq "$current" -250 "$target_abs"); do brightnessctl -qd intel_backlight set "$i"; done
    on-resume = max=$(brightnessctl -d intel_backlight m); current=$(brightnessctl -d intel_backlight get); [ "$current" -lt "$max" ] && for i in $(seq "$current" 250 "$max"); do brightnessctl -qd intel_backlight set "$i"; done && brightnessctl -qd intel_backlight set "$max"
}

# выключить монитор
listener {
    timeout = 600
    on-timeout = hyprctl dispatch dpms off # screen off
    on-resume = hyprctl dispatch dpms on # screen on
}

# suspend
listener {
    timeout = 1200 # seconds
    on-timeout = systemctl suspend
}
{{ end -}}
