[[mgr.prepend_keymap]]
on   = "<Enter>"
run  = "plugin smart-enter"
desc = "Enter the child directory, or open the file"

[[mgr.prepend_keymap]]
on   = "!"
for  = "unix"
run  = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

[[mgr.prepend_keymap]]
on   = "q"
run  = "close"
desc = "Close the current tab, or quit if it's last"

[[mgr.prepend_keymap]]
on   = "2"
run  = "plugin smart-switch 1"
desc = "Switch or create tab 2"

[[mgr.prepend_keymap]]
on   = "3"
run  = "plugin smart-switch 2"
desc = "Switch or create tab 3"

[[mgr.prepend_keymap]]
on   = "4"
run  = "plugin smart-switch 3"
desc = "Switch or create tab 4"

[[mgr.prepend_keymap]]
on   = '\'
run  = "plugin toggle-pane min-preview"
desc = "Show or hide the preview pane"

[[mgr.prepend_keymap]]
on   = '|'
run  = "plugin toggle-pane min-parent"
desc = "Show or hide the parent pane"

# Spotting
[[mgr.prepend_keymap]]
on   = '<Tab>'
run  = "spot"
desc = "Spot hovered file"

[[mgr.prepend_keymap]]
on   = '<Backspace>'
run  = "leave"
desc = "Back to the parent directory"

[[mgr.prepend_keymap]]
on   = '<Delete>'
run  = "remove"
desc = "Trash selected files"

[[mgr.prepend_keymap]]
on   = '<S-Delete>'
run  = "remove --permanently"
desc = "Permanently delete selected files"

[[mgr.prepend_keymap]]
on   = "<Up>"
run  = "arrow -1"
desc = "Prev file"

[[mgr.prepend_keymap]]
on   = "<Down>"
run  = "arrow 1"
desc = "Next file"

[[mgr.prepend_keymap]]
on   = "<Home>"
run  = "arrow top"
desc = "Go to top"

[[mgr.prepend_keymap]]
on   = "<End>"
run  = "arrow bot"
desc = "Go to bot"

# Filter
[[mgr.prepend_keymap]]
on   = "/"
run  = "filter --smart"
desc = "Filter files"

# Find
[[mgr.prepend_keymap]]
on   = "f"
run  = "find --smart"
desc = "Find next file"

# shift-arrows to select
[[mgr.prepend_keymap]]
on   = "<S-Up>"
run  = [ "toggle", "arrow prev" ]
desc = "Select file"
[[mgr.prepend_keymap]]
on   = "<S-Down>"
run  = [ "toggle", "arrow next" ]
desc = "Select file"

[[mgr.prepend_keymap]]
on = [ "~" ]
run = "cd ~"
desc = "Go home"

[[input.prepend_keymap]]
on   = "<Esc>"
run  = "close"
desc = "Cancel input"

# копировать имена выбранных файлов в системный буфер при yank
[[mgr.prepend_keymap]]
on  = "y"
run = [ 'shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list', "yank" ]

# disable maps
[[mgr.prepend_keymap]]
on  = [ "g", "h" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<C-[>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<C-c>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<C-z>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "k" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "j" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<C-u>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<C-d>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<C-b>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<C-f>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<S-PageUp>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "<S-PageDown>" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "g", "g" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "G" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "h" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "l" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "H" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "L" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "o" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "O" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "d" ]
run = "noop"

[[mgr.prepend_keymap]]
on  = [ "D" ]
run = "noop"

# sshfs
[[mgr.prepend_keymap]]
on = ["M"]
run = "plugin sshfs -- menu"
desc = "Open SSHFS options"

[[mgr.prepend_keymap]]
on = ["<Insert>"]
run = [ "toggle", "arrow 1" ]
desc = "Toggle the current selection state"

[[mgr.prepend_keymap]]
on = ["<F2>"]
run = "rename --cursor=before_ext"
desc = "Rename selected file(s)"

[[mgr.prepend_keymap]]
on = ["a"]
run = "create --dir"
desc = "create dir"
