[[mgr.prepend_keymap]]
on   = "<Enter>"
run  = "plugin smart-enter"
desc = "Enter the child directory, or open the file"

[[mgr.prepend_keymap]]
on   = "!"
for  = "unix"
run  = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

[[mgr.prepend_keymap]]
on   = "q"
run  = "close"
desc = "Close the current tab, or quit if it's last"

[[mgr.prepend_keymap]]
on   = "2"
run  = "plugin smart-switch 1"
desc = "Switch or create tab 2"

[[mgr.prepend_keymap]]
on   = "3"
run  = "plugin smart-switch 2"
desc = "Switch or create tab 3"

[[mgr.prepend_keymap]]
on   = "4"
run  = "plugin smart-switch 3"
desc = "Switch or create tab 4"

[[mgr.prepend_keymap]]
on   = '\'
run  = "plugin toggle-pane min-preview"
desc = "Show or hide the preview pane"

[[mgr.prepend_keymap]]
on   = '|'
run  = "plugin toggle-pane min-parent"
desc = "Show or hide the parent pane"

# Spotting
[[mgr.prepend_keymap]]
on   = '<Tab>'
run  = "spot"
desc = "Spot hovered file"

[[mgr.prepend_keymap]]
on   = '<Backspace>'
run  = "leave"
desc = "Back to the parent directory"

[[mgr.prepend_keymap]]
on   = '<Delete>'
run  = "remove"
desc = "Trash selected files"

[[mgr.prepend_keymap]]
on   = '<S-Delete>'
run  = "remove --permanently"
desc = "Permanently delete selected files"

[[mgr.prepend_keymap]]
on   = "<Up>"
run  = "arrow -1"
desc = "Prev file"

[[mgr.prepend_keymap]]
on   = "<Down>"
run  = "arrow 1"
desc = "Next file"

[[mgr.prepend_keymap]]
on   = "<Home>"
run  = "arrow top"
desc = "Go to top"

[[mgr.prepend_keymap]]
on   = "<End>"
run  = "arrow bot"
desc = "Go to bot"

# Filter
[[mgr.prepend_keymap]]
on   = "/"
run  = "filter --smart"
desc = "Filter files"

# Find
[[mgr.prepend_keymap]]
on   = "f"
run  = "find --smart"
desc = "Find next file"

# shift-arrows to select
[[mgr.prepend_keymap]]
on   = "<S-Up>"
run  = [ "toggle", "arrow prev" ]
desc = "Select file"
[[mgr.prepend_keymap]]
on   = "<S-Down>"
run  = [ "toggle", "arrow next" ]
desc = "Select file"

[[input.prepend_keymap]]
on   = "<Esc>"
run  = "close"
desc = "Cancel input"

# копировать имена выбранных файлов в системный буфер при yank
[[mgr.prepend_keymap]]
on  = "y"
run = [ 'shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list', "yank" ]
